@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    box-sizing: border-box;
}
.vkgroup {
    border: 0px solid black;
    border-radius: 5px;
    height: 220px;
    max-width: 600px;
}
.vkcover {
    border: 0px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    max-width: 600px;
}
.vkcoverimg {
    border: 0px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
}
.vkgcont {
    background: #19191a;
    width: inherit;
    border: 0px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 50px!important;
}
.vkgcont2 {
    display: flex;
}
.vktext {
    font-family: Roboto;
    color: white;
}

.vkgcont {
    display: flex;
    align-items: center;

    position: relative;
    border: 0px solid black;
    height: 50px!important;
}

.avatar {
    border: 0px solid black;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    padding-left: 11px;
    padding-right: 11px;
}
.grouph {
    font-size: 15px;
    line-height: 20px;
}
.groupmembers {
    font-size: 9px;
}

.vkbutton {
    font-family: Roboto;
    text-decoration: none;
    background: #494949;
    width: 130;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 11px;
    border: 0px solid black;
    border-radius: 3px;
    transition: 0.2s linear;
}
.vkbutton:hover {
    background: #636363;
}
.buttons {
    position: absolute;
    right: 15px;
}

@media screen and (max-width: 800px) {
    .vkgcont {
        display: block;

    }
    .vkgcont {
        padding-top: 15px;
        /* position: unset; */
        height: fit-content!important;
        box-sizing: border-box;
        justify-content: center;
    }
    .vkbutton {
        width: calc(100% - 30px);
    }
    .buttons {
        position: unset;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .vktext {
        padding-right: 11px;
    }
}
